$fa-minify-blue: #6DA5E8;

.drop-card {
  position: fixed;
  left: 1em;
  top: 1em;
  bottom: 1em;
  right: 1em;

  border-radius: 10px;
  box-shadow: lighten($fa-minify-blue, 20%) 0px 0px 25px 0px;
  overflow: auto;
}

.card-header {
  position: sticky;
  top: 0;
}

.logo {
  padding: 2em 2em 4em;
  display: block;
  box-shadow: lighten($fa-minify-blue, 20%) 0px 0px 25px 0px;
  background: white;
}

.toolbar {
  transform: translateY(-50%);
  padding: 0 2em;
  display: flex;

  .spacer {
    flex-grow: 1;
  }
}

.toolbar-item {
  background: white;
  color: $fa-minify-blue;
  border: none;
  border-radius: 20px;
  font-weight: 700;
  font-size: 1em;
  box-shadow: lighten($fa-minify-blue, 20%) 0px 0px 25px 0px;
  margin: 0 10px;
  padding: .5em 2em;
  outline: none;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

}

.toolbar-button {
  &:not(&--active) {

    &:active,
    &:focus,
    &:hover {
      background: lighten($fa-minify-blue, 30%);
    }
  }

  cursor: pointer;

  &--active {
    background: $fa-minify-blue;
    color: white;
  }
}

.toolbar-input {
  &::placeholder {
    color: lighten($fa-minify-blue, 20%);
    font-weight: 700;
    opacity: 1;
  }
}

.search {
  position: relative;

  .close {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    color: $fa-minify-blue;
    vertical-align: center;
  }
}

.icons {
  padding: 2em;
  color: $fa-minify-blue;
}

.no-type-message {
  font-size: 1.5em;
  text-align: center;
  color: rgba($fa-minify-blue, .5);
  padding-top: 2em;
}

.download-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: $fa-minify-blue;
  background: #FFF;
  padding: 1em;
  transition: transform 250ms ease-in-out;
  transform: translateY(250px);

  display: flex;

  box-shadow: lighten($fa-minify-blue, 20%) 0px 0px 25px 0px;

  font-size: 1.5rem;

  &.up {
    transform: translateY(0);
  }

  .text-wrapper {
    flex-grow: 1;

    .lower-text {
      font-size: 1.2rem;
    }
  }

  .banner-button {
    background: $fa-minify-blue;
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
  }
}