<input type="text" [(ngModel)]="filter" class="filter-input">

<div class="content-wrapper">
  <div class="filter-column">

    <button *ngFor="let category of categories" disabled>
      {{category.label}}
    </button>


  </div>
  <div class="content-column">
    <div *ngFor="let type of types">
      <div *ngIf="hasIcons(type)">
        <strong>{{ type | uppercase }}</strong>
        <div class="icon-wrapper">
          <div 
            class="icon" 
            *ngFor="let item of icons[type] | keyvalue"
            [class.hidden]="!matchesFilter(item.key)">
            <fm-fa-icon 
              [iconName]="item.key" 
              [icon]="icons[type][item.key]"
              [selected]="selectedIcons[type][item.key]"
              (doToggleSelection)="toggleSelection(type, $event.iconName)">
            </fm-fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
