/* You can add global styles to this file, and also import other style files */

@import './styles.layout';

body {
  margin: 0;
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  min-height: 400px;
}