$fa-minify-blue: #6DA5E8;

.drop-card {
  position: fixed;
  left: 1em;
  top: 1em;
  bottom: 1em;
  right: 1em;

  padding: 2em;
  border-radius: 10px;
  box-shadow: lighten($fa-minify-blue, 20%) 0px 0px 25px 0px;
  overflow: auto;
}

.drop-target {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.is-dragover {
    .drop-content-overlay {
      display: flex;
    }
  }
  & > * {
    pointer-events: none;
  }
}

.drop-content {

  color: $fa-minify-blue;

  max-width: 600px;
  font-size: 1.5em;

  .logo {
    margin-bottom: 2em;
  }

  .upper-description {
    font-weight: 500;

    strong {
      font-weight: 700;
    }
  }

  .lower-description-wrapper {
    display: flex;

    img {
      margin: 1em;
      width: 100px;
      height: 125px;
    }
  }

  .lower-description {
    color: rgba($fa-minify-blue, .5);
  }
}


.drop-content-overlay {
  width: 100%;
  height: 100%;
  display: none;

  justify-content: center;
  align-items: center;

  background: rgba(#fff, .95);
  color: $fa-minify-blue;

  border: 4px dashed $fa-minify-blue;
  border-radius: 10px;

  font-size: 2em;

  text-align: center;
}